# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
*.tgz

# Debug files
debug/

# Environment variables
.env

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# macOS
.DS_Store

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
